/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* 主题色 */
  --po-brand-color: rgba(18, 95, 255, 1);
  --po-c-white: #ffffff;
  --po-c-white-soft: #f8f8f8;
  --po-c-white-mute: #f2f2f2;
  /* 主要背景 */
  --po-white: #ffffff;
  /* 常规背景 */
  --po-white-soft: #fbfbfb;
  /* 次要背景 */
  --po-white-mute: #f2f2f2;
  /* 主要文字 */
  --po-text-light-1: rgba(0, 0, 0, 0.9);
  /* 常规文字  */
  --po-text-light-2: rgba(0, 0, 0, 0.6);
  /* 次要文字 */
  --po-text-light-3: rgba(0, 0, 0, 0.4);
  /* 滚动条 */
  --po-scroll-bar-thumb-1: rgba(0, 0, 0, 0.1);
  /* 文字反色 */
  --po-text-inverse-light-1: rgba(255, 255, 255, 1);
  /* 主要线框 */
  --po-divider-light-1: rgba(242, 242, 242, 1);
  /* 常规线框 */
  --po-divider-light-2: rgba(223, 223, 223, 1);
  /* 次要线框 */
  --po-divider-light-3: rgba(220, 220, 220, 1);

  --po-c-black: #181818;
  --po-c-black-soft: #222222;
  --po-c-black-mute: #282828;

  --po-c-indigo: #2c3e50;

  --po-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --po-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --po-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --po-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --po-c-text-light-1: var(--po-c-indigo);
  --po-c-text-light-2: rgba(60, 60, 60, 0.66);
  --po-c-text-dark-1: var(--po-c-white);
  --po-c-text-dark-2: rgba(235, 235, 235, 0.64);
  /* 滚动条 */
  --po-scroll-bar-thumb-1: rgba(0, 0, 0, 0.1);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--po-c-white);
  --color-background-soft: var(--po-c-white-soft);
  --color-background-mute: var(--po-c-white-mute);

  --color-border: var(--po-c-divider-light-2);
  --color-border-hover: var(--po-c-divider-light-1);

  --color-heading: var(--po-c-text-light-1);
  --color-text: var(--po-c-text-light-1);

  --section-gap: 160px;
}
/* 黑色主题 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--po-c-black);
    --color-background-soft: var(--po-c-black-soft);
    --color-background-mute: var(--po-c-black-mute);

    --color-border: var(--po-c-divider-dark-2);
    --color-border-hover: var(--po-c-divider-dark-1);

    --color-heading: var(--po-c-text-dark-1);
    --color-text: var(--po-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
/* 滚动条样式 */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--po-scroll-bar-thumb-1);
  border-radius: 15px;
}

html {
  width: 100%;
  height: 100%;
  /* min-height: 100%; */
  /* min-height: 100vh; */
}

body {
   /* height: 100%; */
   min-height: 100%;
   /* min-height: 100vh; */
   /* overflow-y: scroll; */
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  /* 浏览器在绘制文本时将着重考虑易读性 */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  /* position: relative; */
  width: 100%;
  min-width: 375px;
  min-height: 100%;
  /* min-height: 100vh; */
}

a {
  text-decoration: unset;
}